.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

hr {
  width: 80%;
  background-color: #ccc;
}

#cities {
  margin-left: 0.5rem;
}

.btn-group {
  width: 80%;
  display: flex;
  /* justify-content: space-between; */
  margin: 0.5rem;
}

.button {
  height: 2.1rem;
  color: black;
  background-color: lightgrey;
  padding: 0 0.7rem 0 0.7rem;
  /* margin-right: auto; */
  border-radius: 0.2rem;
  border: none;
  box-shadow: 1px 1px;
}

.button-change {
  height: 2.1rem;
  color: white;
  background-color: #0275d8;
  padding: 0 0.7rem 0 0.7rem;
  /* margin-right: auto; */
  border-radius: 0.2rem;
  border: none;
  box-shadow: 1px 1px;
}

table {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
}


tr {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

th, td {
  padding: 0.5rem 0 0.5rem 0.5rem;
  text-align: start;
}

th.number, td.number {
  width: 5%;
}

th.name, td.name {
  width: 25%;
}

th.phone, th.address, th.web, 
td.phone, td.address, td.web {
  width: 20%;
}

td {
  max-height: auto;
  word-wrap: break-word;
}
