.App {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

hr {
  width: 80%;
  margin: 0 auto;
}

#cities {
  margin-left: 0.5rem;
}

.btn-group {
  width: 80%;
  display: flex;
  margin: 0.5rem;
}

table {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

th,
td {
  padding: 0.5rem 0 0.5rem 0.5rem;
  text-align: start;
}

th.number,
td.number {
  width: 5%;
}

th.name,
td.name {
  width: 25%;
}

th.phone,
th.address,
th.web,
td.phone,
td.address,
td.web {
  width: 20%;
}

td {
  max-height: auto;
  word-wrap: break-word;
}
